.bg-dark {
  background-color: #343a40 !important;
}

.text-white {
  color: #fff !important;
}

.btn-dark {
  border: 1px solid #ffffff !important;
}

.shopping-cart {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
